body, html {
    display:flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    width: 100%;
    height: 100%;
}

.header {
    display:flex;
    background-color: #312e2e;
    color: beige;
    padding: 10px;
    justify-content:space-around;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: beige;
}

.logo {
    font-size: larger;
    font-weight: 900;
    font-style: italic;
}

.header-links {
    display:flex;
    gap: 12px;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px;
    background-color: #443f3f;
    gap: 70px;
    flex: 1 1 auto;
}

.c1-content {
    display:flex;
    flex-direction: column;
    color: beige;
    width: 600px;
}

.c1-title {
    font-size: 48px;
}

.c1-text {
    font-size: 18px;
}

.button {
    background-color: #3882f6;
    color: beige;
    border: none;
    text-align: center;
    width: 100px;
    padding:8px;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bolder;
}

.img-container {
    display:flex;
    flex: 0;
    justify-content: center;
    padding: 0;
}

img {
    width: 300px;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;
}

.c2-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}


.c2-image-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    
}

.c2-image {
    width: 200px;
    text-align: center;
    display:flex;
}

.little-image {
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 11px;
}

.c2-link {
    color: #312e2e;
    text-decoration: none;
}

.third-container {
    display:flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.c1-container {
    display:flex;
    flex-direction: column;
}

.c3-text {
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1f2937;
}

.c3-autor {
    align-self: flex-end;
}

.fourth-container{
    background-color: white;
    display:flex;
    flex: 1 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    display:flex;
    color: beige;
    background-color: #3882f6;
    gap: 10px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

.button.last-button {
    border: 2px solid beige;
    margin: 0;
}

.c4-title {
    font-weight: bolder;
}

.footer {
    display:flex;
    flex: 0;
    padding: 5px;
    text-align:center;
    justify-content: center;
    background-color:#312e2e;
    color: beige;
}