body {
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display:flex;
    background-color: #312e2e;
    color: beige;
    padding: 10px;
    justify-content:space-around;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: beige;
}

.logo {
    font-size: larger;
    font-weight: 900;
    font-style: italic;
}

.header-links {
    display:flex;
    gap: 12px;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px;
    background-color: #443f3f;
    gap: 70px;
}

.c1-content {
    display:flex;
    flex-direction: column;
    color: beige;
    width: 600px;
}

.c1-title {
    font-size: 48px;
}

.c1-text {
    font-size: 18px;
}

.first-button {
    background-color: #3882f6;
    color: beige;
    border: none;
    text-align: center;
    width: 100px;
    padding:8px;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bolder;
}

.img-container {
    display:flex;
    flex: 0;
    justify-content: center;
    padding: 0;
}

img {
    width: 300px;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c2-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.c2-image-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.c2-image {
    width: 200px;
    max-height: 130px;
    text-align: center;
}

.little-image {
    max-width: 150px;
    border: 3px solid #3882f6;
    border-radius: 11px;
}

.c2-link {
    color: #312e2e;
    text-decoration: none;
}